.page-header h1 {
  font-weight: 900;
}

.logo {
  width: 30%;
}

.material-card.Yellow,
.material-card.Amber {
  h2 {
    color: black;
  }

  i.fa-bars,
  i.fa-arrow-left {
    color: black;
  }
}

.img-portrait {
  height: 10em;
  width: 10em;
  margin: 1em;
  border-radius: 100%;
}
