
.material-card-color (@color-palette) {
    .material-card.@{color-palette} {
        h2 {
            .materializr(@color-palette, '500');
            &:after {
                .materializr(@color-palette, '500', border-top-color);
                .materializr(@color-palette, '500', border-right-color);
                border-bottom-color: transparent;
                border-left-color: transparent;
            }
            &:before {
                border-top-color: transparent;
                .materializr(@color-palette, '900', border-right-color);
                .materializr(@color-palette, '900', border-bottom-color);
                border-left-color: transparent;
            }
        }
        &.mc-active {
            h2 {
                &:before {
                    border-top-color: transparent;
                    .materializr(@color-palette, '500', border-right-color);
                    .materializr(@color-palette, '500', border-bottom-color);
                    border-left-color: transparent;
                }
                &:after {
                    .materializr(@color-palette, '900', border-top-color);
                    .materializr(@color-palette, '900', border-right-color);
                    border-bottom-color: transparent;
                    border-left-color: transparent;
                }
            }
        }
        .mc-btn-action {
            .materializr(@color-palette, '500');
            &:hover {
                .materializr(@color-palette, '900');
            }
        }
        .mc-footer {
            h4 {
                .materializr(@color-palette, '900', color);
            }
            a {
                .materializr(@color-palette, '900');
            }
        }
        &.mc-active {
            .mc-content {
                .materializr(@color-palette, '50');
            }
            .mc-footer {
                .materializr(@color-palette, '100');
            }
            .mc-btn-action {
                .materializr(@color-palette, '50', border-color);
            }
        }
    }
}


.material-card-color(~"Red");
.material-card-color(~"Blue-Grey");
.material-card-color(~"Pink");
.material-card-color(~"Purple");
.material-card-color(~"Deep-Purple");
.material-card-color(~"Indigo");
.material-card-color(~"Blue");
.material-card-color(~"Light-Blue");
.material-card-color(~"Cyan");
.material-card-color(~"Teal");
.material-card-color(~"Green");
.material-card-color(~"Light-Green");
.material-card-color(~"Lime");
.material-card-color(~"Yellow");
.material-card-color(~"Amber");
.material-card-color(~"Orange");
.material-card-color(~"Deep-Orange");
.material-card-color(~"Brown");
.material-card-color(~"Grey");
.material-card-color(~"Blue-Grey");