@length-animation: 175s;
@total-slides: 7s;

@slide1-url: "/images/backgrounds/202102120549-DSC00385-1024x576.jpg";
@slide2-url: "/images/backgrounds/201910161045-DSC09379-1024x576.jpg";
@slide3-url: "/images/backgrounds/202003080222-DSC09940-1024x576.jpg";
@slide4-url: "/images/backgrounds/201910261215-DSC09745-1024x576.jpg";
@slide5-url: "/images/backgrounds/201807210512-DSC06680-1024x576.jpg";
@slide6-url: "/images/backgrounds/201910281207-DSC09833-1024x576.jpg";
@slide7-url: "/images/backgrounds/201910281207-DSC09833-1024x576.jpg";
