@length-animation: 250s;
@total-slides: 7s;

@slide1-url: "/images/backgrounds/202108041158-DSC00688-1024x576.jpg";
@slide2-url: "/images/backgrounds/201905311329-DSC07670-1024x576.jpg";
@slide3-url: "/images/backgrounds/201703051217-DSC04593-1024x576.jpg";
@slide4-url: "/images/backgrounds/201606281005-DSC02694-1024x576.jpg";
@slide5-url: "/images/backgrounds/201509171523-DSC01284-1024x576.jpg";
@slide6-url: "/images/backgrounds/201502161311-DSC00950-1024x576.jpg";
@slide7-url: "/images/backgrounds/201805081614-DSC06385-1024x576.jpg";
